@font-face {
  font-family: "Tiempos Headline";
  src: local("TiemposHeadline-Regular"),
    url("./fonts/TiemposHeadline-Regular.otf") format("opentype");
}

@keyframes slide-up-fade {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
  }
}

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    "NavBar"
    "Introduction";
}

.NavBar {
  font-family: Tiempos Headline;
  text-align: left;
  padding-left: 5%;
  background-color: #f6f1eb;
  color: #444;
  animation: slide-up-fade 1s;
}

.NavLinks {
  font-family: Helvetica;
  font-size: 1rem;
  text-align: right;
  padding-right: 5%;
}

.EachNavBarLink:link {
  padding-right: 2rem;
  text-decoration: none;
  color: #444;
}

.EachNavBarLink:visited {
  color: #444;
}

.EachNavBarLink:hover {
  color: rgb(136, 136, 136);
}

.Introduction {
  font-family: Tiempos Headline;
  color: #444;
  padding: 10%;
  line-height: 2;
}

.ProfileImage img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  position: absolute;
  top: 30%;
  right: 10%;
  border: #444 solid 1px;
  box-shadow: 8px 8px #444;
  animation: slide-up-fade 1.5s;
}

.Introduction p {
  font-size: 1.1rem;
  font-family: Helvetica;
  text-align: justify;
  animation: slide-up-fade 1.5s;
}

.Introduction h1 {
  font-size: 2rem;
  animation: slide-up-fade 2s;
}

.Introduction h2 {
  font-size: 2rem;
  animation: slide-up-fade 2.5s;
}

.Introduction h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  padding-right: 50%;
  animation: slide-up-fade 3s;
}

#about {
  font-family: Helvetica;
  line-height: 2;
  color: #444;
  padding-left: 10%;
  padding-right: 10%;
  animation: slide-up-fade 3s;
  text-align: justify;
}

#about h1 {
  font-size: 2rem;
  font-family: Tiempos Headline;
  margin: 0;
  animation: slide-up-fade 3s;
}

#about h2 {
  font-size: 1.5rem;
  font-family: Tiempos Headline;
  margin: 0;
  animation: slide-up-fade 3s;
}

#Tech-List ul {
  column-count: 2;
  font-size: 1.1rem;
  animation: slide-up-fade 3s;
}

.Footer {
  font-family: Helvetica;
  color: #444;
  text-align: center;
  font-size: small;
  border-top: #444 solid 1px;
  padding-top: 1rem;
  margin-left: 20%;
  margin-right: 20%;
}
