@font-face {
  font-family: "Tiempos Headline";
  src: local("TiemposHeadline-Regular"),
    url("./fonts/TiemposHeadline-Regular.otf") format("opentype");
}

@keyframes slide-up-fade {
  0% {
    opacity: 0;
    top: -10vh;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-padding-top: 20%;
}

.App {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .App {
    font-size: large;
  }

  .Introduction {
    font-family: Tiempos Headline;
    color: #444;
    position: relative;
    top: -25vh;
    margin-bottom: 0;
  }

  .Introduction h1 {
    padding-right: 40%;
  }

  .Introduction h2 {
    padding-right: 40%;
  }

  .Introduction p {
    padding-right: 40%;
  }

  #Profile-Img {
    position: absolute;
    top: 0vh;
    right: 10vw;
  }

  #about {
    margin-top: 10%;
    padding-top: 0;
  }

  #Tech-List ul {
    column-count: 2;
  }

  #Practices-List ul {
    column-count: 2;
  }

  #work h1 {
    font-size: 2rem;
    font-family: Tiempos Headline;
    animation: slide-up-fade 2s;
  }

  #work ul {
    column-count: 3;
  }

  .portfolio-card {
    height: 45rem;
  }
}

.NavBar {
  font-family: Tiempos Headline;
  text-align: center;
  background-color: rgb(246, 241, 235, 0.8);
  color: #444;
  animation: slide-up-fade 1s;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 1rem;
  backdrop-filter: blur(10px);
}

.NavLinks {
  font-family: Helvetica;
  font-size: 1rem;
  text-align: center;
}

.EachNavBarLink:link {
  padding: 1.5rem;
  text-decoration: none;
  color: #444;
}

.EachNavBarLink:visited {
  color: #444;
}

.EachNavBarLink:hover {
  color: rgb(136, 136, 136);
}

.Introduction {
  font-family: Tiempos Headline;
  color: #444;
  line-height: 1.5;
  margin-top: 35vw;
}

#Profile-Img img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: #444 solid 1px;
  box-shadow: 8px 8px #444;
  animation: slide-up-fade 1.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35%;
}

.Introduction p {
  margin-left: 10%;
  margin-right: 10%;
  font-family: Helvetica;
  text-align: justify;
  animation: slide-up-fade 1.5s;
}

.Introduction h1 {
  margin-left: 10%;
  margin-right: 10%;
  animation: slide-up-fade 2s;
}

.Introduction h2 {
  margin-left: 10%;
  margin-right: 10%;
  animation: slide-up-fade 2s;
}

.Introduction h3 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  animation: slide-up-fade 2s;
}

#about {
  font-family: Helvetica;
  line-height: 1.5;
  color: #444;
  padding-left: 10%;
  padding-right: 10%;
  animation: slide-up-fade 2s;
  text-align: justify;
}

#about h1 {
  font-size: 2rem;
  font-family: Tiempos Headline;
  animation: slide-up-fade 2s;
}

#about h2 {
  font-size: 1.5rem;
  text-align: left;
  font-family: Tiempos Headline;
  margin: 0;
  animation: slide-up-fade 2s;
}

#Tech-List ul {
  animation: slide-up-fade 2s;
}

#Practices-List ul {
  animation: slide-up-fade 2s;
}

#work {
  font-family: Helvetica;
  line-height: 1.5;
  color: #444;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  animation: slide-up-fade 2s;
  text-align: justify;
}

#work ul {
  padding-left: 0%; /* removes default padding */
}

.project-screenshot {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#work h1 {
  font-size: 2rem;
  text-align: center;
  font-family: Tiempos Headline;
  animation: slide-up-fade 2s;
}

.portfolio-card {
  list-style: none;
  text-align: center;
  margin-bottom: 5%;
  font-size: smaller;
  /* border: #444 solid 1px; */
  background-color: #fffcf7;
  padding: 5%;
  animation: slide-up-fade 2s;
}

.project-social-icons {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  animation: slide-up-fade 2s;
}

.project-social-icons:hover {
  opacity: 50%;
}

#contact {
  font-family: Tiempos Headline;
  background-color: #fffcf7;
  color: #444;
  text-align: center;
  margin: 10%;
  padding: 5%;
  /* border: #444 solid 1px; */
  animation: slide-up-fade 2s;
}

#contact p {
  font-family: Helvetica;
}

.Social-Icons {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  animation: slide-up-fade 2s;
}

.Social-Icons:hover {
  opacity: 50%;
}

.Footer {
  font-family: Helvetica;
  color: #444;
  text-align: right;
  font-size: small;
  border-top: #444 solid 1px;
  margin-left: 10%;
  margin-right: 10%;
}
